// you can change colors here
$theme-color: #3eaf7c;

$sidebar-width: 18rem !default;

$navbar-height: 3.75rem !default;
$navbar-horizontal-padding: 200px !default;
$navbar-vertical-padding: 200px !default;

$sidebar-width: 20rem;
$sidebar-mobile-width: 16rem;
$vp-font: '-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji';
$vp-font-heading: '-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji';
$vp-font-mono: 'consolas';

